name: Backend CI + Docker

on:
  pull_request:
    branches: [main]
    paths:
      - "backend/**"

jobs:
  build:
    name: Backend Build Test
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./backend

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install deps
        run: npm install

      - name: Run tests
        run: npm test

      - name: Build Docker Image (only if tests pass)
        if: success()
        run: docker build -t backend-test .
